<div class="row">
  <div class="col-sm-12 col-md-8">
    <div class="player-placeholder d-flex justify-content-center align-items-center">
      <span class="loading-title">Loading Player...</span>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <h3>Queue</h3>
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <hr>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter Youtube URL..">
      <div class="input-group-append">
        <button class="btn btn-default">Add</button>
      </div>
    </div>
  </div>
</div>
