<div class="row">
  <div class="col-sm-12 col-md-8">
    <div class="player-placeholder d-flex justify-content-center align-items-center">
      <ngx-y2-player
        #videoPlayer
        (ready)="onVideoReady($event)"
        [playerOptions]="playerOptions">
      </ngx-y2-player>
    </div>
  </div>
  <hr>
  <div class="col-sm-12 col-md-4">
    <h3>Add a Video</h3>
    <form (ngSubmit)="onAddVideoSubmit()" #addVideoForm>
      <ul *ngIf="errors.url" class="list-unstyled">
        <li *ngFor="let error of errors.url"><small class="text-danger">{{ error }}</small></li>
      </ul>
      <div class="input-group">
        <input type="text"
          [(ngModel)]="video.url"
          name="url"
          class="form-control"
          placeholder="Enter Youtube URL..">
        <div class="input-group-append">
          <button type="submit" class="btn btn-default">Add</button>
        </div>
      </div>
    </form>

    <hr>

    <h3>Queue</h3>
    <div *ngIf="!queue.length" class="alert alert-info">
      <span>There are no videos queued up. Add some!</span>
    </div>
    <ul *ngIf="queue.length" class="list-group">
      <li class="list-group-item"
        *ngFor="let vid of queue">
        <div class="row">
          <div class="col-6">
            <img class="img-thumbnail" src="{{ vid.parsed_thumb }}" alt="{{ vid.parsed_title }}">
          </div>
          <div class="col-6">
            <p>{{ vid.parsed_title }}</p>
            <p>
              <small>Remove Votes: <span class="badge badge-secondary">{{ vid.remove_votes }}</span></small>
            </p>
            <p>
              <button class="btn btn-sm btn-warning">
                Vote To Remove
              </button>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
